<% var header = 'header'; %>
<%- include(header) %>
<% data=records %>
<div class="container" id="container-svg">
        <div class="header">
            <div class="row">
                <div class="col-sm-6">
                    <!--
                        Replaced by login name, when login is added over this.
                    -->
                    <h3>Hi, <%= user %></h3>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-sm-6">
                    <h5>How are your teams doing? </h5>
                </div>
        </div>
        <div class="row mt-3">
        <svg width="1200" height="800"></svg>
        </div>
        <div class="row">
            <div class="col-sm-6">
                If you have any spinout dates, they will be below here:
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-2">
                <h5>Team</h5>
            </div>
            <div class="col-sm-2">
                <h5>Target Spinout Date</h5>
            </div>
        </div>
        <% for(x in spinoutDates){ %>
            <% if(spinoutDates[x].value){ %>
                <div class="row mt-3">
                    <div class="col-sm-2">
                        <%= spinoutDates[x].parameter %>
                    </div>
                    <div class="col-sm-2">
                        <%= spinoutDates[x].value %>
                    </div>
                </div>
            <% } %>
        <% } %>
</div>


<!--
    Scripts Required for the dashboard.
    Can be added and edited here.
    Will use an Angular Service 
    instead of using a pre-defined variable 
    in javascript.
-->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
var data= <%- JSON.stringify(data) %>
</script>
<script src="/javascripts/dashboard.js"></script>
<% var footer = 'footer'; %>
<%- include(footer) %>