<% var header = '../header'; %>
<%- include(header) %>

    <!--<%= id %>
    <br>
    <%- JSON.stringify(record) %>
    <form action="/api/data" method="POST">
        Some data: <input type="text" name="data" id="data">
        <button type="submit">Send</button>
    </form> -->
   <div class="container-fluid mt-4">   
      <div class="jumbotron">
            <div class = "page-header">
                    <div class="page-header">
                            <div class="row">
                        <div class="col-sm-10">
                            <h2><%= record["Name_Text"] %></h2>
                            <hr>
                            </div>
                        <div class="col-sm-2">
                                <a class="btn btn-primary btn-lg active" href="/teams/view/<%= id %>" role="button">View</a>
                                
                            </div>
                            </div>
                        </div>
           </div>
    <form action="/teams/edit/<%= id %>" method="POST" id="edit">
        
            <div class="form-group">
                    <h3>Team Name:</h3>
                    <input class="form-control text-short" name="Name_Text" type="text" value='<%= record["Name_Text"] %>' id="Name_Text">
            </div>
            <div class="form-group">
                    <h3>Description:</h3>
                    <textarea class="form-control z-depth-1 text-long" name="Description_Text" type="text" id="Description_Text" rows="5" autofocus><%= record["Description_Text"] %></textarea>
            </div>
            <div class="form-group">
                    <h3>Former Names:</h3>
                    <input class="form-control text-short" name="Former_Names_Text" type="text" value='<%= record["Former_Names_Text"] %>' id="Former_Names_Text">
            </div>
            <div class="form-group">
                    <h3>Portfolio Stage:</h3>
                    <select id='Portfolio_Stage_Select' name='Portfolio_Stage_Select' class="form-data-selectize">
                            <option disabled selected value> -- select an option -- </option>
                            <% if(record["Portfolio_Stage_Select"]!=null){ %>
                                <option value='<%= record["Portfolio_Stage_Select"] %>' selected="selected"><%= record["Portfolio_Stage_Select"] %></option>
                            <%   }   %>
                    </select>
            </div>
            <div class="form-group">
                    <h3>Portfolio Sub Stage:</h3>
                    <select id='Portfolio_Sub_Stage_Select' name="Portfolio_Sub_Stage_Select" class="form-data-selectize">
                            <option disabled selected value> -- select an option -- </option>
                            <% if(record["Portfolio_Sub_Stage_Select"]!=null){ %>
                                <option value='<%= record["Portfolio_Sub_Stage_Select"]%>' selected="selected"><%= record["Portfolio_Sub_Stage_Select"]%></option>
                            <%   }   %>
                    </select>
            </div>
            <div class="form-group">
                    <h3>Case Number:</h3>
                    <input class="form-control text-short" type="text" value='<%= record["Case_Number_Text"] %>' id="Case_Number_Text" name="Case_Number_Text">
            </div>
            <div class="form-group">
                    <h3>Technology Description:</h3>
                    <textarea class="form-control z-depth-1 text-long" type="text" id="Technology_Description_Helper" name="Technology_Description_Helper" rows="5" autofocus><%= record["Technology_Description_Helper"] %></textarea>
            </div>
            <div class="form-group">
                    <h3>Notes:</h3>
                    <textarea class="form-control z-depth-1 text-long" type="text" id="Notes_Text" name="Notes_Text" rows="5" autofocus><%= record["Notes_Text"] %></textarea>
            </div>
            <div class="form-group">
                    <h3>Team Webpage:</h3>
                    <input class="form-control text-short" type="text" value='<%= record["Team_Webpage_External"] %>' id="Team_Webpage_External" name="Team_Webpage_External">
            </div>
            <div class="form-group">
                    <h3>Milestones:</h3>
                    <textarea class="form-control z-depth-1 text-long" type="text" id="Milestones_Text" name="Milestones_Text" rows="5" autofocus><%= record["Milestones_Text"] %></textarea>
            </div>
            <div class="form-group">
                <h3>Supporting Docs:</h3>
                <textarea class="form-control z-depth-1 text-long" type="text" id="Supporting_Docs_External" name="Supporting_Docs_External" rows="5" autofocus><%= record["Supporting_Docs_External"] %></textarea>
            </div>
            <div class="form-group">
                    <h3>FY Launch:</h3>
                    <select id='FY_Launch_Select' name="FY_Launch_Select" class="form-data-selectize">
                            <option disabled selected value> -- select an option -- </option>
                            <% if(record["FY_Launch_Select"]!=null){ %>
                                <option value='<%= record["FY_Launch_Select"] %>' selected="selected"><%= record["FY_Launch_Select"] %></option>
                            <%   }   %>
                    </select>
            </div>
        
    <%# heading","array of values","field name in record" %>
    <% arr_values=[["Members",members,"Member_Link"],["Team Categories",team_categories,"Team_Category_Link"],["Funding",fundings,"Funding_Link"]
    ,["Licensing Managers",licensing_managers,"Licensing_Manager_Link"],["Technology",technologies,"Technology_Link"],["Eir",eirs,"Eir_Link"],["Event",events,"Event_Link"]
    ,["First Place Event",events,"1st_Place_Event_Helper"],["Second Place Event",events,"2nd_Place_Event_Helper"],["Third Place Event",events,"3rd_Place_Event_Helper"],] %>
    <% for (var arr_key in arr_values) { %>
    <% heading= arr_values[arr_key][0] %>
    <% values= arr_values[arr_key][1] %>
    <% field_name= arr_values[arr_key][2] %>
    
    <h3><%= heading %>:</h3>
    <select multiple id='<%= field_name %>' name='<%= field_name %>' class="form-data-selectize">
        <script>
        </script>
            <% for (var key in values) { %>
                
                <% if(typeof record[field_name]!= 'undefined') { %>
                <% for (var recordKey in record[field_name]){ %>
                    <% if(record[field_name][recordKey] ==  values[key]['id']){ %>
                        <option value="<%= values[key]['id'] %>" selected="selected"><%= values[key]['name'] %></option>
                        <% break %>
                        <br>
                    <% } else if((recordKey)==(record[field_name].length-1)){%>
                        <option value="<%= values[key]['id'] %>"><%= values[key]['name'] %></option>
                    <% } %>
                <% } %>
                <% } else { %>
                    <option value="<%= values[key]['id'] %>"><%= values[key]['name'] %></option>
                    <% } %>
            <% } %>
              </select>
              <% } %>
              <button class="btn btn-primary" type="submit" id="edit-submit">Submit</button>
    </form>
    </div>
    </div>
    <script>
            /*
                These are the input values which I had to selectize as they were coming from another table.
            */
            <% for (var arr_key in arr_values) { %>
               $('<%= "#"+arr_values[arr_key][2] %>').selectize();
            <%  } %>
            /**
             * Stringifying the metadata Columns so it could be used by the 
             * metadata-view script to populate the metadata coumn values.
             * 
             */
            table="<%= table %>";
            metadataColumns=<%- JSON.stringify(metadataColumns) %>;
    </script>
    <script src="/javascripts/metadata-view.js"></script>
<% var footer = '../footer'; %>
<%- include(footer) %>