<% var header = '../header'; %>
<%- include(header) %>

<div class="container-fluid">
<div class="jumbotron mt-5">
        <div class="page-header">
                <div class="row">
                    <div class="col-md-10">
                        <h1>Reports <small><%= table %></small></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        Create your own reports here:
                    </div>
                </div>
        </div>
<form action="/filter/<%= table %>" method="POST" id="edit">
    <% arr_values=referencedColumnNames  %>
    <div class="row mt-3">
        <div class="col-sm-8">
            <h4><%= table %></h4>
            <select id="<%= table %>" name="Name_Text" onclick='expandSelect("<%= table %>","<%= table %>")' class="white-back" style="width:600px;height:40px ;">
                <option style="display:none;" value="" selected>Select <%= table %></option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-8">
            <h4><%= table %></h4>
            <input type="text" id="<%= table %>" name="Name_Text" class="white-back" style="width:600px;height:40px ;">
        </div>
    </div>
    <% for (var arr_key in arr_values) { %>
    <% table= arr_values[arr_key].table %>
    <% heading= arr_values[arr_key].displayName %>
    <% name= arr_values[arr_key].columnValueName %>
    <% link= arr_values[arr_key].columnName %>
<div class="row mt-3">
    <div class="col-sm-8">
<h4><%= heading %></h4>
<select id="<%= link %>" name="<%= name %>" onclick='expandSelect("<%= table %>","<%= link %>")' class="white-back" style="width:600px;height:40px ;">
        <option style="display:none;" value="" selected>Select <%= heading %></option>
</select>
</div>
<br>
</div>
<div class="row mt-3">
    <div class="col-sm-8">
<h4><%= heading %></h4>
<input type="text" id="<%= table %>" name="<%= name %>" class="white-back" style="width:600px;height:40px ;">
</div>
<br>
</div>
<% } %>
<br>
<h4>Choose Search Type:</h4>
<div class="row mt-1">
<div class="col-sm-2">
<label class="radio-inline">
        <input type="radio" name="condition" value="AND" checked> Matches All Conditions
      </label>
</div>
<div class="col-sm-2">
      <label class="radio-inline">
        <input type="radio" name="condition" value="OR"> Matches Atleast One
      </label>
</div>
</div>
      <br>
<button class="btn btn-primary" type="submit" id="edit-submit">Submit</button>
</form>
</div>
</div>
<script>
function expandSelect(val,id){
    curr_id='#'+id;
console.log(curr_id);
$.post( "/list/"+val, function( data ) {
  console.log(data);
  var $select = $(curr_id).selectize({
    maxItems: null,
    valueField: 'name',
    labelField: 'name',
    searchField: 'name',
    options: data,
    create: false
});
});
/*var options = [];
$.each(data.platforms, function()
{
    options.push({
        id: this.id,
        title: this.name,
        url: "hhtp://site.com/"+this.slug
    });
});*/

}
</script>
<% var footer = '../footer'; %>
<%- include(footer) %>

