<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>CPRS</title>
    </head>
    <h3>Teams</h3>
    <p><%= JSON.stringify(teams) %></p>
    <br>
    <h3>Members</h3>
    <p><%= JSON.stringify(members) %></p>
    <br>
    <h3>Team Categories</h3>
    <p><%= JSON.stringify(team_categories) %></p>
    <br>
    <h3>Department Companies</h3>
    <p><%= JSON.stringify(department_companies) %></p>
    <br>
    <h3>EIRs</h3>
    <p><%= JSON.stringify(eirs) %></p>
    <br>
    <h3>Events</h3>
    <p><%= JSON.stringify(events) %></p>
    <br>
    <h3>Fundings</h3>
    <p><%= JSON.stringify(fundings) %></p>
    <br>
    <h3>Licensing Managers</h3>
    <p><%= JSON.stringify(licensing_managers) %></p>
    <br>
    <h3>Technologies</h3>
    <p><%= JSON.stringify(technologies) %></p>
</body>
</html>