<!DOCTYPE html>
<html>
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans|Roboto:300|Lora:700" rel="stylesheet" type="text/css">
        <!-- Selectize.js -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap2.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>
    <head>
        <meta charset="utf-8">
        <title>CPRS</title>
    </head>
    <%= id %>
    <br>
    <%- JSON.stringify(record) %>
   <!-- <form action="/api/data" method="POST">
        Some data: <input type="text" name="data" id="data">
        <button type="submit">Send</button>
      </form> -->
    <form action="/edit/<%= id %>" method="POST">
            <div class="form-group">
                    <h3>Team Name:</h3>
                    <input class="form-control" name="Name_Text" type="text" value='<%= record["Name_Text"] %>' id="Name_Text">
            </div>
            <div class="form-group">
                    <h3>Description:</h3>
                    <input class="form-control" name="Description_Text" type="text" value='<%= record["Description_Text"] %>' id="Description_Text">
            </div>
            <div class="form-group">
                    <h3>Former Names:</h3>
                    <input class="form-control" name="Former_Names_Text" type="text" value='<%= record["Former_Names_Text"] %>' id="Former_Names_Text">
            </div>
            <div class="form-group">
                    <h3>Portfolio Stage:</h3>
                    <select id='Portfolio_Stage_Select' name='Portfolio_Stage_Select' style="width:600px;height:300px ;">
                            <option disabled selected value> -- select an option -- </option>
                            <% arr=["Spinout","License","Pipeline","Unknown"] %>
                            <% for (var key in arr){ %>
                            <% if(arr[key]== record["Portfolio_Stage_Select"]){ %>
                                <option value="<%= arr[key] %>" selected="selected"><%= arr[key] %></option>
                            <% } else {%>
                                <option value="<%= arr[key] %>"><%= arr[key] %></option>
                            <%   }   %>
                            <%   }   %>
                    </select>
            </div>
            <div class="form-group">
                    <h3>Portfolio Sub Stage:</h3>
                    <select id='Portfolio_Sub_Stage_Select' name="Portfolio_Sub_Stage_Select" style="width:600px;height:300px ;">
                            <option disabled selected value> -- select an option -- </option>
                            <% arr=["Stage 1: Funding","Stage 2: Research","Stage 3a: Disclosure","Stage 3b: IP Development","Stage 4: Technology and Market Validation","Stage 5: License/Spinout","Stage 6a: Pre-Seed","Stage 6b: Seed","Stage 6c: VC(a, b, c)"] %>
                            <% for (var key in arr){ %>
                            <% if(arr[key]== record["Portfolio_Sub_Stage_Select"]){ %>
                                <option value="<%= arr[key] %>" selected="selected"><%= arr[key] %></option>
                            <% } else {%>
                                <option value="<%= arr[key] %>"><%= arr[key] %></option>
                            <%   }   %>
                            <%   }   %>
                    </select>
            </div>
            <div class="form-group">
                    <h3>Case Number:</h3>
                    <input class="form-control" type="text" value='<%= record["Case_Number_Text"] %>' id="Case_Number_Text" name="Case_Number_Text">
            </div>
            <div class="form-group">
                    <h3>Technology Description:</h3>
                    <input class="form-control" type="text" value='<%= record["Technology_Description_Helper"] %>' id="Technology_Description_Helper" name="Technology_Description_Helper">
            </div>
            <div class="form-group">
                    <h3>Notes:</h3>
                    <input class="form-control" type="text" value='<%= record["Notes_Text"] %>' id="Notes_Text" name="Notes_Text">
            </div>
            <div class="form-group">
                    <h3>Team Webpage:</h3>
                    <input class="form-control" type="text" value='<%= record["Team_Webpage_External"] %>' id="Team_Webpage_External" name="Team_Webpage_External">
            </div>
            <div class="form-group">
                    <h3>Milestones:</h3>
                    <input class="form-control" type="text" value='<%= record["Milestones_Text"] %>' id="Milestones_Text" name="Milestones_Text">
            </div>
            <div class="form-group">
                    <h3>FY Launch:</h3>
                    <select id='FY_Launch_Select' name="FY_Launch_Select" style="width:600px;height:300px ;">
                            <option disabled selected value> -- select an option -- </option>
                            <% arr=[2018,2017,2016,2015,2014] %>
                            <% for (var key in arr){ %>
                            <% if(arr[key]== record["FY_Launch_Select"]){ %>
                                <option value="<%= arr[key] %>" selected="selected"><%= arr[key] %></option>
                            <% } else {%>
                                <option value="<%= arr[key] %>"><%= arr[key] %></option>
                            <%   }   %>
                            <%   }   %>
                    </select>
            </div>
        
    <%# heading","array of values","field name in record" %>
    <% arr_values=[["Members",members,"Member_Link"],["Team Categories",team_categories,"Team_Category_Link"],["Funding",fundings,"Funding_Link"]
    ,["Licensing Managers",licensing_managers,"Licensing_Manager_Link"],["Technology",technologies,"Technology_Link"],["Eir",eirs,"Eir_Link"],["Event",events,"Event_Link"]
    ,["First Place Event Helper",events,"1st_Place_Event_Helper"],["Second Place Event Helper",events,"2nd_Place_Event_Helper"],["Third Place Event Helper",events,"3rd_Place_Event_Helper"],] %>
    <% for (var arr_key in arr_values) { %>
    <% heading= arr_values[arr_key][0] %>
    <% values= arr_values[arr_key][1] %>
    <% field_name= arr_values[arr_key][2] %>
    
    <h3><%= heading %></h3>
    <select multiple id='<%= field_name %>' name='<%= field_name %>' style="width:600px;height:300px ;">
        <script>
        </script>
            <% for (var key in values) { %>
                
                <% if(typeof record[field_name]!= 'undefined') { %>
                <% for (var recordKey in record[field_name]){ %>
                    <% if(record[field_name][recordKey] ==  values[key]['id']){ %>
                        <option value="<%= values[key]['id'] %>" selected="selected"><%= values[key]['name'] %></option>
                        <% break %>
                        <br>
                    <% } else if((recordKey)==(record[field_name].length-1)){%>
                        <option value="<%= values[key]['id'] %>"><%= values[key]['name'] %></option>
                    <% } %>
                <% } %>
                <% } else { %>
                    <option value="<%= values[key]['id'] %>"><%= values[key]['name'] %></option>
                    <% } %>
            <% } %>
              </select>
              <% } %>
              <button type="submit">Submit</button>
            
    <script>
        /*
            These are the input values which I had to selectize as they were coming from another table.


        */
        <% for (var arr_key in arr_values) { %>
           $('<%= "#"+arr_values[arr_key][2] %>').selectize();
           
        <%  } %>
            /*
                These are the values which are static options.
            */
        $('#FY_Launch_Select').selectize();
        $('#Portfolio_Sub_Stage_Select').selectize(); 
        $('#Portfolio_Stage_Select').selectize();
            /*$('#e1').on('change', function() {
                alert( $("select#e1").val() );
            });*/
            //$("#test").hide();
        </script>
</body>
</html>